body {
    height: 95vh;
    width: 99%;
    background-image: url(background2.jpg);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position:top center;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

#frame1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
font-family: "Inter", sans-serif;
font-size: 30px;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;

text-align: center;
color:#a1b9c8c0;
}

/* cursor effect */
#circle{
    height:200px;
    width:200px;
    background-color:#31190d81;
    filter: blur(10px); 
    border-radius:50%;

    /* I found this from: https://codepen.io/lonekorean/pen/rNOwVy */
    box-shadow:
    0 0 30px 30px #c8c1adc8;
    
    position:fixed;
    left:0px;
    top:0px;
    z-index:100000;

    pointer-events:none;
    opacity:0;
    transition: opacity 500ms ease;
}

body:hover > #circle {
    opacity: 0.7;
}


#fadeInImage {
    position:fixed;
    top:0px;
    opacity: 0;
    transition: opacity 7s ease;
}

/* Responsive - positions (1000px) */
@media screen and (max-width: 1000px) {
    #circle {
        display: none;
        }
}