body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url(background2.jpg);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position:top center;
}
.title{
font-family: "Inter", sans-serif;
font-size: 30px;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
text-align: center;
color:#707c86
}