body {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 90vh;
    margin: 10px;
    padding-left :10px;
    padding-right:150px;

    background-image: url(background.png);
    background-size: 2000px;
    background-repeat: repeat;
    background-position:top center;
}

.text{
font-family: "Inter", sans-serif;
font-size: 18px;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
text-align: right;
color:#000000
}

/* cursor effect */
#circle{
    height:20px;
    width:20px;
    background-color:#e2d8bce7;
    border-radius:50%;
    box-shadow:
    0 0 40px 30px #e2d8bc,
    0 0 50px 40px #d8abd8,
    0 0 50px 50px #9acfcf;

    position:fixed;
    left:0px;
    top:0px;
    z-index:100000;

    pointer-events:none;
    opacity:0;
    transition: opacity 500ms ease;
}

body:hover > #circle {
    opacity: 1;
}


.story-wrapper{
    height: auto;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.container2{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}